<%- include('components/navbar', {title: title}); %>    
</body>
<main>
  <div class="container"> 
    
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Software Development</h4>
          </div>
          <div class="card-body">
            <h3 class="card-title pricing-card-title">iOS Native</h3>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Writing Tests First Approach</li>
              <li>Unit &  UI Testing for iOS Native</li>
              <li>Architecture: MVC, MVP, MVVM</li>
              <li>Modular & Cross Platform Approach</li>
              <li>Platform-Agnostic Development</li>
              <li>Xcode, Xcode Cloud- CI/CD</li>
              <li>AGILE environment with TDD approach</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Sign up for free</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Frontend Development</h4>
          </div>
          <div class="card-body">
            <h3 class="card-title pricing-card-title">MERN Stack</h3>
            <ul class="list-unstyled mt-3 mb-4">
              <li>HTML | CSS | Bootstap | UIKit</li>
              <li>Javascript | JQuery | Typescript</li>
              <li>React JS</li>
              <li>EJS</li>
              <li>Wordpress</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">Get started</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-white bg-primary border-primary">
            <h4 class="my-0 fw-normal">Backend Development</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Node JS</li>
              <li>Express</li>
              <li>MongoDB</li>
            </ul>
            <button onclick="downloadResume()" class="w-100 btn btn-lg btn-primary">Contact us</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </main>
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">Navdeep Rana</h2>
      <p class="lead">And an even wittier subheading.</p>
    </div>
    <div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
  </div>
</html>